Repository LumaPictures/cg-stubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, precommit_gen, self_mypy

ruff:
  name: ruff
  entry: nox
  args:
  - -s
  - ruff
  - --no-install
  - --
  language: system
  pass_filenames: true
  require_serial: true
  stages:
  - commit
  - push
  - manual

precommit_gen:
  name: precommit_gen
  entry: nox
  args:
  - -s
  - precommit_gen
  - --no-install
  - --
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - commit
  - push

self_mypy:
  name: self_mypy
  entry: nox
  args:
  - -s
  - self_mypy
  - --no-install
  - --
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - manual
  - push

Fix an issue with the wheel targets
  .moon/tasks.yml
  common/pyproject.toml
  houdini/pyproject.toml
  katana/pyproject.toml
  mari/pyproject.toml
  maya/pyproject.toml
  noxfile.py
  nuke/pyproject.toml
  pyside/pyproject.toml
  rez/pyproject.toml
  substance_painter/pyproject.toml
  usd/pyproject.toml
Due: ruff, precommit_gen, self_mypy

Improve the build process
  README.md
  common/pyproject.toml
  houdini/.interpreter
  houdini/stubgen_houdini.sh.bak
  katana/.interpreter
  maya/.env
  maya/.interpreter
  maya/stubgen_maya.ps1
  maya/stubgen_maya.py
  maya/stubgen_maya.sh.bak
  maya/stubs/maya-stubs/api/MDGContextGuard.pyi
  maya/stubs/maya-stubs/api/OpenMaya.pyi
  maya/stubs/maya-stubs/api/OpenMayaAnim.pyi
  maya/stubs/maya-stubs/api/OpenMayaRender.pyi
  maya/stubs/maya-stubs/api/OpenMayaUI.pyi
  maya/stubs/maya-stubs/api/_OpenMayaAnim_py2.pyi
  maya/stubs/maya-stubs/api/_OpenMayaRender_py2.pyi
  maya/stubs/maya-stubs/api/_OpenMayaUI_py2.pyi
  maya/stubs/maya-stubs/api/_OpenMaya_py2.pyi
  maya/stubs/maya-stubs/cmds/__init__.pyi
  maya/stubs/ufe-stubs/__init__.pyi
  maya/uv.lock
  noxfile.py
Due: ruff, precommit_gen, self_mypy

Add new merge_signature_kwargs and tests
  common/src/stubgenlib/utils.py
  common/tests/test_stubgenlib.py
  common/tests/test_utils.py
  common/uv.lock
  maya/stubgen_maya.ps1
  maya/stubgen_maya.sh.bak
  noxfile.py
  rez/pyproject.toml
Due: ruff, precommit_gen, self_mypy

Add ability for AdvancedSignatureGenerator to merge sigs with the fallback generator
  common/src/stubgenlib/siggen/advanced.py
  maya/stubgen_maya.py
Due: ruff, self_mypy

Prep a new version of the maya stubs
  maya/pyproject.toml
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/OpenMaya.pyi
  maya/stubs/maya-stubs/OpenMayaMPx.pyi
  maya/stubs/maya-stubs/__init__.pyi
  maya/stubs/maya-stubs/api/MDGContextGuard.pyi
  maya/stubs/maya-stubs/api/OpenMaya.pyi
  maya/stubs/maya-stubs/api/OpenMayaAnim.pyi
  maya/stubs/maya-stubs/api/OpenMayaRender.pyi
  maya/stubs/maya-stubs/api/OpenMayaUI.pyi
  maya/stubs/maya-stubs/api/_OpenMayaAnim_py2.pyi
  maya/stubs/maya-stubs/api/_OpenMayaRender_py2.pyi
  maya/stubs/maya-stubs/api/_OpenMayaUI_py2.pyi
  maya/stubs/maya-stubs/api/_OpenMaya_py2.pyi
  maya/stubs/maya-stubs/cmds/__init__.pyi
  maya/stubs/maya-stubs/mel/__init__.pyi
  maya/stubs/maya-stubs/standalone.pyi
Due: ruff, self_mypy

Add return types to some maya.cmds list commands
  maya/pyproject.toml
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/OpenMayaAnim.pyi
  maya/stubs/maya-stubs/OpenMayaRender.pyi
  maya/stubs/maya-stubs/OpenMayaUI.pyi
  maya/stubs/maya-stubs/cmds/__init__.pyi
  maya/uv.lock
Due: ruff, self_mypy

maya: improve referenceQuery and playbackOptions
  maya/pyproject.toml
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/cmds/__init__.pyi
Due: ruff, self_mypy

rez: Update stubs
  rez/README.md
  rez/pyproject.toml
  rez/stubs/rez-stubs/command.pyi
  rez/stubs/rez-stubs/config.pyi
  rez/stubs/rez-stubs/package_filter.pyi
  rez/stubs/rez-stubs/package_order.pyi
  rez/stubs/rez-stubs/package_repository.pyi
  rez/stubs/rez-stubs/package_resources.pyi
  rez/stubs/rez-stubs/packages.pyi
  rez/stubs/rez-stubs/release_hook.pyi
  rez/stubs/rez-stubs/release_vcs.pyi
  rez/stubs/rez-stubs/resolved_context.pyi
  rez/stubs/rez-stubs/resolver.pyi
  rez/stubs/rez-stubs/rex.pyi
  rez/stubs/rez-stubs/rex_bindings.pyi
  rez/stubs/rez-stubs/solver.pyi
  rez/stubs/rez-stubs/utils/data_utils.pyi
  rez/stubs/rez-stubs/utils/filesystem.pyi
  rez/stubs/rez-stubs/utils/formatting.pyi
  rez/stubs/rez-stubs/utils/graph_utils.pyi
  rez/stubs/rez-stubs/utils/memcached.pyi
  rez/stubs/rez-stubs/utils/resources.pyi
  rez/stubs/rez-stubs/utils/schema.pyi
  rez/stubs/rez-stubs/utils/scope.pyi
  rez/stubs/rez-stubs/utils/sourcecode.pyi
  rez/stubs/rez-stubs/utils/typing.pyi
  rez/stubs/rez-stubs/version/_util.pyi
  rez/stubs/rez-stubs/version/_version.pyi
  rez/stubs/rezplugins-stubs/package_repository/filesystem.pyi
  rez/stubs/rezplugins-stubs/package_repository/memory.pyi
  rez/uv.lock
Due: none

maya: Fix maya listConnections signature
  README.md
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/cmds/__init__.pyi
  maya/uv.lock
  noxfile.py
Due: ruff, precommit_gen, self_mypy

Maya: Add edit=True overloads
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/cmds/__init__.pyi
Due: ruff, self_mypy

Maya: feat(function): added exists=True signature overloads
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/cmds/__init__.pyi
Due: ruff, self_mypy

Maya: fix(signature): added more functions the return None or known types
  common/src/stubgenlib/siggen/advanced.py
  common/src/stubgenlib/stubgen/delegate.py
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/cmds/__init__.pyi
Due: ruff, self_mypy

Maya: edit=True overloads now run on all functions
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/cmds/__init__.pyi
Due: ruff, self_mypy

usd: rebuild using new uv + pyroject.toml and slightly newer mypy
  common/src/stubgenlib/utils.py
  usd/.python-version
  usd/pyproject.toml
  usd/stubgen_usd.py
  usd/stubs/pxr-stubs/Ts/TsTest_Comparator.pyi
  usd/stubs/pxr-stubs/Ts/TsTest_Grapher.pyi
  usd/stubs/pxr-stubs/UsdAppUtils/cameraArgs.pyi
  usd/stubs/pxr-stubs/UsdAppUtils/framesArgs.pyi
  usd/stubs/pxr-stubs/UsdUtils/usdzUtils.pyi
  usd/stubs/pxr-stubs/Usdviewq/appController.pyi
  usd/stubs/pxr-stubs/Usdviewq/arrayAttributeView.pyi
  usd/stubs/pxr-stubs/Usdviewq/common.pyi
  usd/stubs/pxr-stubs/Usdviewq/debugFlagsWidget.pyi
  usd/stubs/pxr-stubs/Usdviewq/frameSlider.pyi
  usd/stubs/pxr-stubs/Usdviewq/freeCamera.pyi
  usd/stubs/pxr-stubs/Usdviewq/hydraSceneBrowser.pyi
  usd/stubs/pxr-stubs/Usdviewq/plugin.pyi
  usd/stubs/pxr-stubs/Usdviewq/primTreeWidget.pyi
  usd/stubs/pxr-stubs/Usdviewq/primViewItem.pyi
  usd/stubs/pxr-stubs/Usdviewq/pythonInterpreter.pyi
  usd/stubs/pxr-stubs/Usdviewq/rootDataModel.pyi
  usd/stubs/pxr-stubs/Usdviewq/scalarTypes.pyi
  usd/stubs/pxr-stubs/Usdviewq/selectionDataModel.pyi
  usd/stubs/pxr-stubs/Usdviewq/settings.pyi
  usd/stubs/pxr-stubs/Usdviewq/stageView.pyi
  usd/stubs/pxr-stubs/Usdviewq/usdviewApi.pyi
  usd/uv.lock
Due: ruff, self_mypy

Ensure that .pth files are created correctly when using uv run
  common/mypy.ini
  common/pyproject.toml
  houdini/mypy.ini
  houdini/pyproject.toml
  katana/pyproject.toml
  mari/pyproject.toml
  maya/pyproject.toml
  nuke/pyproject.toml
  pyside/pyproject.toml
  rez/pyproject.toml
  usd/mypy.ini
  usd/pyproject.toml
Due: none

Add support for .env files
  .gitignore
  common/src/stubgenlib/siggen/advanced.py
  common/src/stubgenlib/utils.py
  maya/stubgen_maya.py
  noxfile.py
  usd/.env
  usd/mypy-baseline.txt
  usd/stubgen_usd.sh
Due: ruff, precommit_gen, self_mypy

maya: bump version
  maya/pyproject.toml
Due: none

Added nuke.STORE_INTEGER
  nuke/stubs/nuke-stubs/_nuke.pyi
Due: none

feat(maya): added Maya Python 2.0 API docstring type parser
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/OpenMaya.pyi
  maya/stubs/maya-stubs/OpenMayaAnim.pyi
  maya/stubs/maya-stubs/OpenMayaMPx.pyi
  maya/stubs/maya-stubs/OpenMayaRender.pyi
  maya/stubs/maya-stubs/OpenMayaUI.pyi
  maya/stubs/maya-stubs/api/OpenMaya.pyi
  maya/stubs/maya-stubs/api/OpenMayaAnim.pyi
  maya/stubs/maya-stubs/api/OpenMayaRender.pyi
  maya/stubs/maya-stubs/api/OpenMayaUI.pyi
  maya/stubs/maya-stubs/api/_OpenMayaUI_py2.pyi
  maya/stubs/maya-stubs/api/_OpenMaya_py2.pyi
Due: ruff, self_mypy

fix(signature): handle literals and "foo or bar" syntax
  maya/stubgen_maya.py
  maya/stubs/maya-stubs/api/OpenMaya.pyi
  maya/uv.lock
Due: ruff, self_mypy

usd: fix __getitem__ for Gf Vec types
  usd/stubgen_usd.py
  usd/stubs/pxr-stubs/Gf/__init__.pyi
Due: ruff, self_mypy

usd: make type[pxr.Usd.SchemaBase] implicitly convertible to Tf.Type
  usd/stubgen_usd.py
  usd/stubs/pxr-stubs/Ndr/__init__.pyi
  usd/stubs/pxr-stubs/Plug/__init__.pyi
  usd/stubs/pxr-stubs/Sdf/__init__.pyi
  usd/stubs/pxr-stubs/Tf.pyi
  usd/stubs/pxr-stubs/Usd/__init__.pyi
  usd/stubs/pxr-stubs/UsdGeom/__init__.pyi
  usd/stubs/pxr-stubs/UsdRi/__init__.pyi
  usd/stubs/pxr-stubs/UsdShade/__init__.pyi
  usd/stubs/pxr-stubs/Usdviewq/__init__.pyi
Due: ruff, self_mypy

usd: AttributeSpec.allowedTokens should be list[str]
  usd/stubgen_usd.py
  usd/stubs/pxr-stubs/Sdf/__init__.pyi
Due: ruff, self_mypy

usd: make Ar.ResolvedPath implicitly convertible to Sdf.Path
  usd/stubgen_usd.py
  usd/stubs/pxr-stubs/Pcp/__init__.pyi
  usd/stubs/pxr-stubs/Sdf/__init__.pyi
  usd/stubs/pxr-stubs/Usd/__init__.pyi
  usd/stubs/pxr-stubs/UsdAppUtils/__init__.pyi
  usd/stubs/pxr-stubs/UsdGeom/__init__.pyi
  usd/stubs/pxr-stubs/UsdHydra/__init__.pyi
  usd/stubs/pxr-stubs/UsdImagingGL/__init__.pyi
  usd/stubs/pxr-stubs/UsdLux/__init__.pyi
  usd/stubs/pxr-stubs/UsdMedia/__init__.pyi
  usd/stubs/pxr-stubs/UsdPhysics/__init__.pyi
  usd/stubs/pxr-stubs/UsdProc/__init__.pyi
  usd/stubs/pxr-stubs/UsdRender/__init__.pyi
  usd/stubs/pxr-stubs/UsdRi/__init__.pyi
  usd/stubs/pxr-stubs/UsdSchemaExamples/__init__.pyi
  usd/stubs/pxr-stubs/UsdShade/__init__.pyi
  usd/stubs/pxr-stubs/UsdSkel/__init__.pyi
  usd/stubs/pxr-stubs/UsdUI/__init__.pyi
  usd/stubs/pxr-stubs/UsdUtils/__init__.pyi
  usd/stubs/pxr-stubs/UsdVol/__init__.pyi
  usd/stubs/pxr-stubs/Usdviewq/__init__.pyi
Due: ruff, self_mypy

ocio: update to 2.4.2
  noxfile.py
  ocio/mypy.ini
  ocio/pyproject.toml
  ocio/requirements.txt
  ocio/stubgen_ocio.py
  ocio/stubgen_ocio.sh
  ocio/stubs/PyOpenColorIO-stubs/__init__.pyi
  ocio/stubs/PyOpenColorIO-stubs/command_line.pyi
  ocio/stubs/PyOpenColorIO-stubs/py.typed
  ocio/uv.lock
Due: ruff, precommit_gen, self_mypy

Add shotgun stubs
  noxfile.py
  shotgun/.python-version
  shotgun/README.md
  shotgun/pyproject.toml
  shotgun/stubgen_shotgun.sh
  shotgun/stubs/shotgun_api3-stubs/__init__.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/__init__.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/certifi/__init__.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/certifi/core.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/httplib2/__init__.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/httplib2/auth.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/httplib2/certs.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/httplib2/error.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/httplib2/iri2uri.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/httplib2/socks.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/mimetypes.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/mockgun/__init__.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/mockgun/errors.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/mockgun/mockgun.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/mockgun/schema.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/pyparsing.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/sgsix.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/sgtimezone.pyi
  shotgun/stubs/shotgun_api3-stubs/lib/sgutils.pyi
  shotgun/stubs/shotgun_api3-stubs/py.typed
  shotgun/stubs/shotgun_api3-stubs/shotgun.pyi
  shotgun/uv.lock
Due: ruff, precommit_gen, self_mypy

otio: fix pyproject.toml
  otio/pyproject.toml
Due: none

Fix QCoreApplication.instance requiring an argument
  pyside/stubs/PySide2-stubs/QtCore.pyi
Due: none

Accept a QKeySequence.StandardKey and int where QKeySequence | str is currently accepted
  pyside/stubs/PySide2-stubs/QtGui.pyi
  pyside/stubs/PySide2-stubs/QtTest.pyi
  pyside/stubs/PySide2-stubs/QtWidgets.pyi
Due: none

Can pass Qt.ConnectionType to .connect
  pyside/stubs/PySide2-stubs/QtCore.pyi
Due: none

Coreect QAbstractItemModel.*PersistentIndexList use of QModelIndex
  pyside/stubs/PySide2-stubs/QtCore.pyi
Due: none

add uv lock files for houini, nuke, katana, and otio
  houdini/uv.lock
  katana/uv.lock
  nuke/uv.lock
  otio/uv.lock
Due: none

nox: convert modules into packages
  noxfile.py
Due: ruff, precommit_gen, self_mypy

houdini: update hou-stubs for houdini 21.0.512
  README.md
  houdini/hou_cleanup_config.py
  houdini/pyproject.toml
  houdini/stubgen_houdini.py
  houdini/stubs/hou-stubs/__init__.pyi
  houdini/uv.lock
  pyproject.toml
  uv.lock
Due: ruff, self_mypy

Path conditions:
  ruff: any of: ^.*[^/]*[.]py$
  precommit_gen: any of: ^noxfile[.]py$
  self_mypy: any of: ^.*[^/]*[.]py$
