Repository LumaPictures/cg-stubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, precommit_gen, self_mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

  - id: black
    name: black
    entry: nox
    args: [-s, black, --no-install, --]
    language: system
    pass_filenames: true
    require_serial: true
    stages: [commit, push, manual]
    files: ^.*[^/]*[.]py$

  - id: precommit_gen
    name: precommit_gen
    entry: nox
    args: [-s, precommit_gen, --no-install, --]
    language: system
    pass_filenames: false
    require_serial: false
    stages: [commit, push]
    files: ^noxfile[.]py$

  - id: self_mypy
    name: self_mypy
    entry: nox
    args: [-s, self_mypy, --no-install, --]
    language: system
    pass_filenames: false
    require_serial: true
    stages: [manual, push]
    files: ^.*[^/]*[.]py$

usd: fix another unknown type
  usd/stubgen_usd.py
  usd/stubs/pxr/UsdShade/__init__.pyi
Due: black, self_mypy

usd: Improve resolution of ambiguous types
  usd/stubgen_usd.py
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdGeom/__init__.pyi
  usd/stubs/pxr/UsdUtils/__init__.pyi
Due: black, self_mypy

usd: fix signatures for Tf.Notce.Register
  katana/stubgen_katana.py
  mypy.ini
  noxfile.py
  pyside/stubgen_pyside.py
  stubgenlib.py
  usd/stubgen_usd.py
  usd/stubs/pxr/Tf/__init__.pyi
Due: black, precommit_gen, self_mypy

usd: preserve the order of c++ overloads
  usd/stubgen_usd.py
  usd/stubs/pxr/Ar/__init__.pyi
  usd/stubs/pxr/CameraUtil/__init__.pyi
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Glf/__init__.pyi
  usd/stubs/pxr/Ndr/__init__.pyi
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/PxOsd/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Tf/__init__.pyi
  usd/stubs/pxr/Ts/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdGeom/__init__.pyi
  usd/stubs/pxr/UsdImagingGL/__init__.pyi
  usd/stubs/pxr/UsdLux/__init__.pyi
  usd/stubs/pxr/UsdPhysics/__init__.pyi
  usd/stubs/pxr/UsdRi/__init__.pyi
  usd/stubs/pxr/UsdShade/__init__.pyi
  usd/stubs/pxr/UsdSkel/__init__.pyi
  usd/stubs/pxr/UsdUtils/__init__.pyi
  usd/stubs/pxr/Vt/__init__.pyi
Due: black, self_mypy

hou - improve render callbacks typing
  houdini/stubs/hou/__init__.pyi
Due: none

usd: adjust stubgen to handle existing manual signatures in docstrings
  README.md
  usd/builddocs.sh
  usd/buildusd.sh
  usd/checkstubs.sh
  usd/comparedocs.sh
  usd/stubgen_usd.py
  usd/stubgen_usd.sh
  usd/stubs/pxr/Garch/__init__.pyi
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Glf/__init__.pyi
  usd/stubs/pxr/Kind/__init__.pyi
  usd/stubs/pxr/Ndr/__init__.pyi
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/Plug/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Sdr/__init__.pyi
  usd/stubs/pxr/Tf/__init__.pyi
  usd/stubs/pxr/Trace/__init__.pyi
  usd/stubs/pxr/Ts/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/Vt/__init__.pyi
Due: black, self_mypy

usd: introduce mypy-baseline to get mypy tests fully passing
  noxfile.py
  requirements.txt
  usd/mypy-baseline.txt
Due: black, precommit_gen, self_mypy

usd: bump version to 24.5.2
  usd/pyproject.toml
Due: none

usd: Improve README
  usd/README.md
Due: none

houdini: port to use stubgenlib
  houdini/mypy.ini
  houdini/stubgen_houdini.py
  houdini/stubgen_houdini.sh
  houdini/stubs/hou/__init__.pyi
  katana/stubgen_katana.py
  mari/stubgen_mari.py
  ocio/stubgen_ocio.py
  stubgenlib.py
  test_stubgenlib.py
  usd/stubgen_usd.py
Due: black, self_mypy

Add staticmethods for stub classes
  houdini/stubgen_houdini.py
  houdini/stubs/hou/__init__.pyi
Due: black, self_mypy

Add docstrings
  houdini/stubgen_houdini.py
  houdini/stubs/hou/__init__.pyi
  stubgenlib.py
Due: black, self_mypy

Remove self from staticmethods. Add specific overrides
  houdini/extras/hou_pyi_update.py
  houdini/stubgen_houdini.py
  houdini/stubs/hou/__init__.pyi
  requirements.txt
  stubgenlib.py
Due: black, self_mypy

Make pointer results Optional
  houdini/stubgen_houdini.py
  houdini/stubs/hou/__init__.pyi
Due: black, self_mypy

add support for enum and missing methods
  houdini/stubgen_houdini.py
  houdini/stubgen_houdini.sh
  houdini/stubs/hou/__init__.pyi
  noxfile.py
Due: black, precommit_gen, self_mypy

Organize houdini stub overrides into separate configuration module (#3)
  houdini/hou_cleanup_config.py
  houdini/stubgen_houdini.py
  houdini/stubs/hou/__init__.pyi
Due: black, self_mypy

houdini: port to use stubgenlib (#13)
  houdini/extras/hou_pyi_update.py
  houdini/hou_cleanup_config.py
  houdini/mypy.ini
  houdini/stubgen_houdini.py
  houdini/stubgen_houdini.sh
  houdini/stubs/hou/__init__.pyi
  katana/stubgen_katana.py
  mari/stubgen_mari.py
  noxfile.py
  ocio/stubgen_ocio.py
  requirements.txt
  stubgenlib.py
  test_stubgenlib.py
  usd/stubgen_usd.py
Due: black, precommit_gen, self_mypy

houdini: bump version
  houdini/pyproject.toml
Due: none

Add stubs for openimageio
  noxfile.py
  oiio/pyproject.toml
  oiio/stubgen_oiio.py
  oiio/stubgen_oiio.sh
  oiio/stubs/OpenImageIO/OpenImageIO.pyi
  oiio/stubs/OpenImageIO/__init__.pyi
  oiio/stubs/OpenImageIO/py.typed
  stubgenlib.py
  usd/stubgen_usd.py
Due: black, precommit_gen, self_mypy

Add stubs for openexr
  houdini/stubgen_houdini.py
  katana/stubgen_katana.py
  noxfile.py
  openexr/pyproject.toml
  openexr/stubgen_openexr.py
  openexr/stubgen_openexr.sh
  openexr/stubs/OpenEXR/__init__.pyi
  openexr/stubs/OpenEXR/py.typed
  stubgenlib.py
Due: black, precommit_gen, self_mypy

Add moon as a task runner
  .moon/hooks/pre-commit.sh
  .moon/tasks.yml
  .moon/tasks/tag-stubs.yml
  .moon/toolchain.yml
  .moon/workspace.yml
  common/moon.yml
  houdini/moon.yml
  katana/moon.yml
  mari/moon.yml
  moon.yml
  noxfile.py
  nuke/moon.yml
  ocio/moon.yml
  oiio/moon.yml
  openexr/moon.yml
  pyproject.toml
  pyside/moon.yml
  substance_painter/moon.yml
  taskfile.common.yml
  taskfile.yml
  usd/moon.yml
  usd/runtests.sh
Due: black, precommit_gen, self_mypy

More Rez improvements
  noxfile.py
  rez/pyproject.toml
  rez/stubgen_rez.sh
  rez/stubs/rez/package_bind.pyi
  rez/stubs/rez/package_cache.pyi
  rez/stubs/rez/package_copy.pyi
  rez/stubs/rez/package_filter.pyi
  rez/stubs/rez/package_maker.pyi
  rez/stubs/rez/package_remove.pyi
  rez/stubs/rez/package_repository.pyi
  rez/stubs/rez/package_search.pyi
  rez/stubs/rez/packages.pyi
  rez/stubs/rez/resolved_context.pyi
  rez/stubs/rez/resolver.pyi
  rez/stubs/rez/rex.pyi
  rez/stubs/rez/utils/formatting.pyi
  rez/stubs/rezplugins/build_process/local.pyi
  rez/stubs/rezplugins/package_repository/filesystem.pyi
Due: black, precommit_gen, self_mypy

More Rez improvements
  rez/pyproject.toml
  rez/stubs/rez/developer_package.pyi
  rez/stubs/rez/package_order.pyi
  rez/stubs/rez/package_serialise.pyi
  rez/stubs/rez/resolved_context.pyi
  rez/stubs/rez/resolver.pyi
  rez/stubs/rez/serialise.pyi
  rez/stubs/rez/solver.pyi
  rez/stubs/rez/status.pyi
  rez/stubs/rez/utils/colorize.pyi
  rez/stubs/rez/utils/typing.pyi
  rez/stubs/rezplugins/package_repository/filesystem.pyi
Due: none

Remove oiio now that it has moved into the main repo
  .pre-commit-config.yaml
  noxfile.py
  oiio/moon.yml
  oiio/pyproject.toml
  oiio/stubgen_oiio.py
  oiio/stubgen_oiio.sh
  oiio/stubs/OpenImageIO/OpenImageIO.pyi
  oiio/stubs/OpenImageIO/__init__.pyi
  oiio/stubs/OpenImageIO/py.typed
Due: black, precommit_gen, self_mypy

Add support for using regex to find and replace types
  common/src/stubgenlib/siggen/advanced.py
  houdini/stubgen_houdini.py
  noxfile.py
  requirements.txt
Due: black, precommit_gen, self_mypy

Bump version to 0.2.0
  common/pyproject.toml
Due: none

Add maya.api
  maya/stubgen_maya.py
  maya/stubgen_maya.sh
  maya/stubs/maya/api/MDGContextGuard.pyi
  maya/stubs/maya/api/OpenMaya.pyi
  maya/stubs/maya/api/OpenMayaAnim.pyi
  maya/stubs/maya/api/OpenMayaRender.pyi
  maya/stubs/maya/api/OpenMayaUI.pyi
  maya/stubs/maya/api/_OpenMayaAnim_py2.pyi
  maya/stubs/maya/api/_OpenMayaRender_py2.pyi
  maya/stubs/maya/api/_OpenMayaUI_py2.pyi
  maya/stubs/maya/api/_OpenMaya_py2.pyi
  maya/stubs/maya/api/__init__.pyi
  maya/stubs/maya/app/evaluationToolkit/EvaluationToolkitSectionDebugging.pyi
  maya/stubs/maya/app/evaluationToolkit/EvaluationToolkitSectionGPUOverride.pyi
  maya/stubs/maya/app/evaluationToolkit/EvaluationToolkitSectionHUD.pyi
  maya/stubs/maya/app/evaluationToolkit/evaluationToolkit.pyi
  maya/stubs/maya/app/ghosting/AnimationLayerGhosting.pyi
  maya/stubs/maya/app/ghosting/GhostingEditor.pyi
  maya/stubs/maya/app/ghosting/GhostingManager.pyi
  maya/stubs/maya/app/ghosting/GhostingMenus.pyi
  maya/stubs/maya/app/ghosting/ghosting_optionvar_states.pyi
  maya/stubs/maya/app/ghosting/ghosting_preferences.pyi
  maya/stubs/maya/app/motiontrail/MotionTrailEditor.pyi
  maya/stubs/maya/app/motiontrail/MotionTrailPreferences.pyi
  maya/stubs/maya/app/prefs/OptionVar.pyi
  maya/stubs/maya/app/prefs/OptionVarManager.pyi
  maya/stubs/maya/app/profilerEventDescriptionWindow/profilerEventDescriptionWindow.pyi
  maya/stubs/maya/app/quickRig/quickRigUI.pyi
  maya/stubs/maya/app/quickTour/find.pyi
  maya/stubs/maya/app/quickTour/quickTour.pyi
  maya/stubs/maya/app/quickTour/quickTour_res.pyi
  maya/stubs/maya/app/sceneAssembly/__init___res.pyi
  maya/stubs/maya/app/sceneAssembly/adskPrepareRender.pyi
  maya/stubs/maya/app/sceneAssembly/adskPrepareRender_res.pyi
  maya/stubs/maya/app/sceneAssembly/assemblyReferenceInitialRep.pyi
  maya/stubs/maya/cmds/__init__.pyi
Due: black, self_mypy

Switch from poetry to uv
  common/pyproject.toml
  common/src/stubgenlib/utils.py
  houdini/pyproject.toml
  houdini/stubgen_houdini.py
  houdini/stubgen_houdini.sh
  katana/poetry.lock
  katana/pyproject.toml
  mari/poetry.lock
  mari/pyproject.toml
  maya/pyproject.toml
  noxfile.py
  nuke/poetry.lock
  nuke/pyproject.toml
  ocio/pyproject.toml
  openexr/pyproject.toml
  pyside/.python-version
  pyside/pyproject.toml
  pyside/stubgen_pyside.py
  pyside/stubgen_pyside.sh
  pyside/uv.lock
  requirements.txt
  rez/stubgen_rez.sh
  substance_painter/pyproject.toml
  usd/pyproject.toml
  usd/stubgen_usd.py
  usd/stubgen_usd.sh
Due: black, precommit_gen, self_mypy
